/* $base-background: #00CC99; */
/*.mainSectiona{
  height: 100vh;
  position: relative;
}
*/
.text{
  text-align: center;
  font-size: 60px;
  color: white;
  font-weight: 100;
  line-height: 1.1;
  margin-bottom: 0px;
}

.left p{
  text-align: center;
  font-size: 25px;
  color: white;
  font-weight: 300;
  line-height: 1.2;
  padding: 0px 30px 0px 30px;
}

.container1 {
  /*position: relative;*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}



.left{
  /*I can remove this to disable interactivty*/
  z-index:3;
  width: 65%;
}

.right{
  /*I can remove this to disable interactivty*/
  z-index:3;
  width: 35%;
}

canvas {
  display: block;
  vertical-align: bottom;
  /*I can remove this to disable interactivty*/
  position: initial;
  z-index: 1;
/*
  position: absolute;
    width: 100%;
    height: 100%;
  z-index: -1; */
}


#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(12, 59, 124) 0%;
  background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,62,125,1) 0%, rgba(24,106,220,1) 100%);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0;
  
}
/*body {
  background: white;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.5s ease;
}*/

.btn {
  border-radius: 2px;
  padding: 8px 12px;
  color: #fffba8;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.card {
  /*background-color: #0c3b7c;*/
  max-width: 280px;
  margin: 0px auto;
  height: 400px;
  border-radius: 12px;
  /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);*/
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
}

.products {
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
}

.product {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}
.product.active {
  opacity: 1;
  visibility: visible;
}

.thumbnail {
  margin: 0 0 25px;
  /*margin: 0 0 48px;*/
  max-width: 100%; /* Ancho máximo al 100% del contenedor */
  height: auto; /* Mantiene la proporción */
}

.title {
  margin: 0 0 12px;
  color: #fffba8;
  font-size: 24px;
  transition: 0.5s ease;
}

.description {
  color: white;
}

/*.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 -12px -12px;
}
*/
[ripple] {
  z-index: 1;
  position: relative;
  overflow: hidden;
}
[ripple] .ripple {
  position: absolute;
  background: #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: ripple 2s;
          animation: ripple 2s;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}

/* button */
a.button1{
  display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    font-size: 20px
} 

a.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
}
@keyframes anim-down { 
	from { opacity: 0; transform: translateY(-100px); } 
	to { opacity: 1; transform: translateY(0px); }  
}	
/* end btton */